hospital data.txt
tourist&tia data.txt
backend/media
college.txt
frontend/src/assets

frontend/public/dummyIng

fyp.code-workspace
backend/backend/settings.py
backend/backend/__pycache__/settings.cpython-310.pyc
